html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #3a393a;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
}

header,
section,
article,
footer {
  border: 1px solid red;
  padding: 16px;
}

[name="about-me"] {
  display: flex;
  border: 1px solid green;

  figure,
  div {
    display: flex;
    flex-direction: column;
  }

  figure {
    flex-grow: 0;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }


  h2,
  time {
    flex-grow: 1;
    display: flex;
  }

  time {
    flex-direction: row-reverse;
  }

  img {
    width: 300px;
    transform: rotate(180deg);
  }

}


[name="technologies"] {
  border: 1px solid pink;
}

footer {
  background: #545353;
  display: flex;
  justify-content: center;
}





